[google_sheets]
pos_url = "https://docs.google.com/spreadsheets/d/YOUR_POS_SHEET_ID/edit#gid=0"
delivery_financials_url = "https://docs.google.com/spreadsheets/d/YOUR_DELIVERY_FINANCIALS_SHEET_ID/edit#gid=0"
delivery_orders_url = "https://docs.google.com/spreadsheets/d/YOUR_DELIVERY_ORDERS_SHEET_ID/edit#gid=0"
